.main {
  border: 3px solid var(--accent-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.token {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  border: 2px var(--accent-color) solid;
  border-radius: 0.5rem;
  width: 300px;
  padding: 0.5rem;
  color: var(--accent-color);
  box-sizing: border-box;
}

.characterReward {
  display: flex;
  justify-content: space-between;
}

.questWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
